* {
    margin: 0;
    /* background-color: #a0dce7; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    /* background-color: burlywood; */
}

body {
    height: 100%;
    width: 100%;
}

main {
    height: 100vh;
}



.nav {
    display:flex;
    justify-content: flex-start;
    height:40px;
    position: absolute;

    bottom: -4px;

    width: 100%;
    color: white;
}

.nav-link {
    color:white;
    text-decoration: none;

    
}

.nav-item {
    width: 122px;
    padding: 7px 7px 7px 7px;
}

.nav1 {
    cursor: pointer;
    width: 122px;
    padding:  7px 20px 7px 20px;
    background-color: #b8292b;
        text-align: center;
}

.nav1:hover {
    font-weight: 600;
    color: #a82527;
}

.nav2 {
    cursor: pointer;
    width: 122px;
    padding:  7px 20px 7px 20px;
        text-align: center;
    background-color: #7c8742;
}

.nav3 {
    cursor: pointer;
    width: 122px;
    padding:  7px 20px 7px 20px;
    text-align: center;
    background-color: #e38c2f;
}

.nav4 {
    cursor: pointer;
    width: 122px;
    padding:  7px 20px 7px 20px;
    text-align: center;
    background-color: #b8292b;
}

.online-users {
    display:flex;
    justify-content:flex-start;
    position: fixed;
    bottom: 0px;
}

.online-users-border {
    margin: 0px;
    padding: 8px;
}

.online-single-user {
    background-color: #b8292b;
    margin: 0px 3px 0px 0px;
    padding: 2px 15px 2px 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-right: solid 3px #ffbf43;
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 350px;
    width: 500px;
    overflow-y: scroll;
    text-align: left;
    background-color: #ffebc6;
    color: black;
}

.chat-message-container{
    margin-bottom: 10px;
}

.chat-input {
    margin-top: 20px;
    width: 495px;
    height: 100px;
}

img {
    object-fit: contain;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #ffbf43;
    padding: 10px;
    /* height: 65.8vh; */
    color: white;
}

.align-right {
    padding-right: 26px;
    text-align: right;
}
.loggedin-user {
    margin-right: 65px;
    padding-bottom: 10px;
    text-align: right;
    color: white;
    font-weight: 300;
    width: 100%;
    text-shadow: 1px 1px rgb(94, 94, 94);
}
header {
    position: relative;
    height: 250px;
    display: flex;
    justify-content: space-between;
    background-image: url("img/audience_repeat_medium.png");
}

h1 {
    font-size: 9em;
    margin-left: 60px;
    color: white;
}

h2 {
    color: white;
    font-size: 7em;
    font-weight: 100;
    font-weight: 650;
    line-height: 2em;
}

h3 {
    color: white;
    font-size: 3.5em;
    font-weight: 100;
    font-weight: 600;
    line-height: 2em;
}

h4 {
    font-weight: 600;
    font-size: 1.4em;
    text-decoration: none;
}

.white-line {
    margin-top: 20px;
    border: 2px solid white;
    height:0px;
    width: 40%
}

.name {
    font-weight: 200;
    font-size: 1.2em;
    font-weight: 600;
    margin: 28px 5px 8px 5px;
    text-align: center;
}


.text {
    font-weight: 200;
    font-size: 1.2em;
}
.header-bg {
    background-image: url("img/audience_repeat_medium.png");
    height: 100%;
    width: 20vw;
    color: white;
}

.tiny {
    position: relative;
    bottom: 5px;
    font-size: 0.4em;
    margin-bottom: 2px;
    background-color: rgb(185, 59, 42);
}

.logo {
    height: 500px;
    width: 60vw;
}
.logo-big {
    height: 320px;
    margin: 80px 0px 0px 10px;
    width: 320px;
}

.logo-small {
    height: 100px;
    margin: 75px 55px 25px 55px;
}
.welcome {
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/audience_welcome.png");
    height: 100vh;
    width: 80vw;
    color: white;
}

.welcome-tools {
    color: black;

    width: 40%;
    align-items: center;
        /* background-color: #ba382f; */
}
.message-error {

    color: red;
}

.message-info {
    background-color: lightgray;
    color: black;
}

.text {
    padding: 10px 10px 0px 10px;
}

input {
    border: 1px solid black;
    margin: 5px;
    padding: 5px 8px 5px 8px;
}

button {
    border: 1px solid black;
    margin: 5px;
    padding: 5px 15px 5px 15px;
}

.width-full {
    width: 300px;
}

.link {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 0.9em;
}

.link:visited {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 0.9em;
}
.profile-border {
    margin: 26px 26px 10px 10px;
}

.profile-picture {
    border: 10px solid white;
    border-radius: 5px;
    height: 140px;
    float: right;
    cursor: pointer;
    padding: 0px;
}

.profile-picture-large {
    border: 15px solid white;
    border-radius: 5px;
    height: 350px;
}

.profile-chat {
    height: 20px;
    width: 20px;
    margin: 0px;
    border: 2px solid white;
}



.profile-chat-border {
    margin: 10px;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 8em;
    width: 20em;

    background-color: #ffbf43;
    border: 15px solid white;
    /* border: 15px solid #c63135; */
    border-radius: 5px;
    box-shadow: 10px 30px rgba(210, 141, 13, 0.5);
}

.modal-header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.close-modal {
    position: absolute;
    right: -3px;
    top: -16px;
    font-weight: 400;
    float: left;
    cursor: pointer;
}

.highlight {
    border: #c63135 2px solid;
    color: #c63135;
}

.icon {
    height: 22px;
    color: white;
}

.button {
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 0px 0px 0px;
    padding: 4px 8px 6px 8px;
    width: 120px;
    border: 4px solid #ffd074;
    text-align: center;
    color: #ffde9c;
}

.button:hover {
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 0px 0px 0px;
    padding: 4px 8px 6px 8px;
    width: 120px;
    border: 4px solid white;
    /* border: 4px solid #d8403a; */
    text-align: center;
    color: white;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-left {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding: 0px 25px 25px 25px;
}

.column-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0px 25px 25px 25px;
}
.column-left-40 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px 25px 25px 25px;
    width: 50%;
}

.column-left-top {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    /* padding: 0px 25px 25px 25px; */
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.self-right {
    align-self: flex-start;
}

textarea {
    resize: none;
    width: 70%;
    height: 30%;
    margin-bottom: 5px;
}


.search-container {
    width: 100%;
}

.result-list {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.chat-info {
    display:flex;
    justify-content: row;
    letter-spacing: 0.3em;
    font-weight: 200;
    font-size: 0.8em;
} 
.chat-date {

    font-weight: 100;
    font-size: 0.8em;
    text-align: right;
    
} 

.chat-msg {

} 

a {
    text-decoration: none;
}

/* PRELAOD */
body {
    background-color: #ffbf43;
}

$color: $color-1, $color-2, $color-3, $color-4, $color-5;

@mixin anim($i) {
    $y: ($i + 5) * 10;

    @keyframes right-#{$i} {
        0% {
            transform: translateY(#{-$y}px);
        }
        100% {
            transform: translateY(#{$y}px);
        }
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

ul {
    display: flex;
    li {
        width: 20px;
        height: 20px;
        margin: 10px;
        list-style-type: none;
        transition: 0.5s all ease;
        border-radius: 3px;
    }

    @for $i from 1 through 5 {
        li:nth-child(#{$i}) {
            @include anim($i);
            animation: right-#{$i} 1s infinite alternate;
            background-color: nth($color, $i);
            animation-delay: 100ms * $i;
        }
    }